@import url("/public/css/style.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  color: #353535;
  background-color: #FFF9F9;
}

.wrapper {
  width: 100%;
  max-width: none;
  margin: 0 auto;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.contents-headline {
  border: 1px solid #FFE7E8;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFE7E8;
}

.contents-headline-text {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
}

.contents-headline-title {
  color: #3E3532;
  font-size: 23.4px;
  line-height: 1.45;
  letter-spacing: 1px;
  margin-top: 12px;
}

.contents-headline-option {
  overflow: hidden;
  margin-top: 2px;
}

.contents-headline-status {
  float: right;
}

.contents-headline-status span {
  background-color: #B2AEAD;
  padding: 1px 4px 2px;
  margin-right: 4px;
  color: #FFF;
  font-size: 11.4px;
  line-height: 1.25;
}

.contents-headline-status time {
  padding: 2px;
  color: #B2AEAD;
  font-size: 12.4px;
  line-height: 1.25;
}

.contents-headline-status::after {
  content: "";
  clear: right;
}

.box-article {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  margin-top: 26.4px;
  margin-bottom: 26.4px;
}

.article-item {
  margin-top: 26.4px;
}

.article-item:first-child {
  margin-top: 0;
}

.article-item_headline {
  font-size: 21.8px;
  line-height: 1.45;
  letter-spacing: 1px;
  color: #3E3532;
  border-bottom: 1px dashed #EA5550;
  padding: 8px 0;
  margin-top: 64px;
}

.article-item_text {
  font-size: 16px;
  line-height: 1.65;
}

.article-item_image {
  line-height: 0;
  vertical-align: bottom;
}

.article-item_convertion {
  position: relative;
  line-height: 0;
  vertical-align: bottom;
}

.article-item_lists {
  padding: 2px 8px 18px 28px;
  box-sizing: border-box;
  background-color: #FFF;
  border: 1px solid #FDD8D6;
  list-style-type: disc;
}

.item_convertion_background {
  width: 100%;
}

.item_convertion_button {
  position: absolute;
  display: block;
  top: 67%;
  left: 6.25%;
  width: 87.5%;
}

.item-text_anchor {
  color: #F8655A;
  font-weight: bold;
}

.item-text-strong {
  color: #F8655A;
  font-weight: bold;
  font-size: 1.15em;
}

.item-text-emphasis {
  font-weight: bold;
}

.item-text_list {
  margin-top: 16px;
}

.item-text_list {
  margin-top: 16px;
}

.item-button_anchor {
  background-color: #FFF;
  color: #F8655A;
  border: 1px solid #FBB2AC;
  font-weight: bold;
  width: 100%;
  padding: 12px 20px 12px 16px;
  box-sizing: border-box;
  position: relative;
}

.item-button_anchor::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin-top: -7px;
  border-top: 7px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid transparent;
  margin-right: 0.25em;
  border-left: 8px solid #F8655A;
}

.item-box_anchor {
  background-color: #FFF;
  color: #F8655A;
  border: 1px solid #FDD8D6;
  font-weight: bold;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 56px;
}

.item-box_anchor .item-text_anchor {
  margin-top: 8px;
  display: block;
}

.item-button_anchor:hover,
.item-button_anchor:focus,
.item-button_anchor:active {
  background-color: #FBB2AC;
  color: #FFF;
}
.item-button_anchor:hover::after,
.item-button_anchor:focus::after,
.item-button_anchor:active::after {
  border-left: 8px solid #FFF;
}

.header {
  background-color: #FFE7E8;
  padding: 2px 16px;
  width: 100%;
  box-sizing: border-box;
}

.box-header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text-header {
  font-size: 11px;
  color: #3E3532;
}

.footer {
  background-color: #6F4F40;
  padding: 26.4px 16px 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 60px;
}

.box-footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.footer-lists {
  text-align: left;
}

.footer-lists dt{
  margin-top: 26.4px;
  margin-bottom: 8px;
}

.footer-lists dd{
  margin-top: 8px;
  margin-bottom: 26.4px;
}

.footer-license {
  margin-top: 48px;
  text-align: center;
}

.footer-item_text {
  font-size: 14.4px;
  line-height: 1.35;
  color: #B2AEAD;
}

.footer-item_anchor {
  font-size: 14.4px;
  line-height: 1.35;
  color: #FFF;
}
