img {
  vertical-align: bottom;
  display: block;
  width: 100%;
}

p {
  margin: 0;
  display: block;
}

a {
  display: block;
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.flexWrapper {
  overflow: hidden;
}

.flexWrapper p {
  float: left;
  width: 50%;
}
