.search-submit-button-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 8px;
}

.search-wrapper {
  background-color: #FEFDF9;
  padding-bottom: 8px;
}

.search-title {
  background: #F76499;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: #FFF;
}

.result-title {
  background: #FFE7E8;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: #3E3532;
}

.search-submit-button {
  display: block;
  width: 100%;
  background-color: #6F4F40;
  text-align: center;
  border-radius: 2px;
  line-height: 32px;
  text-decoration: none;
  color: #FFF;
  border: none;
  font-size: 16px;
}

.from-wrapper {
  padding: 0 10px 4px;
  margin-bottom: 4px;
}

.from-cell-title {
  font-size: 14.4px;
  padding-top: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
  color: #F76499;
}

.from-cell-group {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

.from-cell-group input {
  vertical-align: -15%;
}

.from-cell-group label {
  font-size: 12px;
  color: #3E3532;
}
