* {
    box-sizing: border-box;
}

.header {
  background-color: #FFE7E8;
  padding: 2px 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 11px;
  color: #3E3532;
}

.container {
  background-color: #FEFDF9;
}

.search-result-wrapper {
  padding: 0 10px;
}

.content-select-box {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: 10px;
}

.sort-button {
  display: table-cell;
  background-color: #B2AEAD;
  text-align: center;
  color: #FFF;
  font-size: 11px;
  padding: 11px 0;
  border-collapse: separate;
  border: solid 1px #FFF;
  border-bottom: none;
  text-decoration: none;
}

.sort-button:first-child {
  border-left: none;
}

.sort-button:last-child {
  border-right: none;
}

.sort-button span {
  margin-top: 3px;
  display: block;
  opacity: .7;
}

.sort-button.active {
  background-color: #F76499;
}

.item-list-wrapper {
  border: #F76499 3px solid;
  border-bottom: none;
}
.item-list-wrapper .notfound-message {
  padding: 10px;
  border-bottom: #F76499 10px solid;
}

.item-list-wrapper .item {
  padding: 10px 0;
  border-bottom: #F76499 10px solid;
}

.item-list-wrapper .item .title {
  padding-left: 10px;
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
}


.item img {
  max-height: 204px;
  vertical-align: bottom;
}

.item-containts {
  padding: 0 8px;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.item-image {
  width: 35%;
  padding-right: 10px;
  text-align: center;
  display: table-cell;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.item-table {
  width: 65%;
  display: table-cell;
}

.item-table-tr {
  border-left: 1px solid #FBB9D1;
  border-bottom: 1px solid #FBB9D1;
  border-right: 1px solid #FBB9D1;
  clear: both;
  overflow: hidden;
}

.item-table-tr:first-child {
  border-top: 1px solid #FBB9D1;
}

.item-table-cell {
  float: left;
  width: 55%;
  padding: 7px;
  font-size: 14px;
}

.item-table-cell:first-child {
  background-color: #FDD3E2;
  border-right: 1px solid #FBB9D1;
  width: 45%;
}

.link-button-wrapper {
  padding: 0 8px;
}

.link-button {
  display: block;
  width: 100%;
  background-color: #6F4F40;
  text-align: center;
  border-radius: 2px;
  line-height: 32px;
  text-decoration: none;
  color: #FFF;
}

.footer {
  background-color: #6F4F40;
  padding: 26.4px 16px 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 60px;
}

.box-footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.footer-lists {
  text-align: left;
}

.footer-lists dt{
  margin-top: 26.4px;
  margin-bottom: 8px;
}

.footer-lists dd{
  margin-top: 8px;
  margin-bottom: 26.4px;
}

.footer-license {
  margin-top: 48px;
  text-align: center;
}

.footer-item_text {
  font-size: 14.4px;
  line-height: 1.35;
  color: #B2AEAD;
}

.footer-item_anchor {
  font-size: 14.4px;
  line-height: 1.35;
  color: #FFF;
}
